aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
frozenlist==1.8.0
idna==3.19
jokeapi==1.0.5
multidict==6.7.1
propcache==0.5.2
requests==2.34.2
simplejson==3.20.2
typing_extensions==4.16.0
urllib3==1.26.20
yarl==1.24.5
